<ul>
<li>string interpolation: <code class="ruby">"the value of the variable v will be printed here: #{v}"</code></li>
<li>by convention, variables have <code class="ruby">underscore_names</code> instead of <code class="ruby">camelCaseNames</code></li>
<li>variables are passed by reference, so you can accidentally change two variables at once.<br />see "<a href="/code/ruby/variables_are_passed_by_reference">variables are passed by reference</a>" for more info</li>
</ul>