<ul>
  <li><strong>Local</strong>: start with letter or underscore</li>
  <li><strong>Global</strong>: start with dollar sign</li>
  <li><strong>Instance</strong>: start with single '@'</li>
  <li><strong>Class</strong>: start with double '@'</li>
  <li><strong>Constants and ClassNames</strong>: Start with uppercase letter</li>
</ul>