<ul>
  <li>they are prefixed with a double '<code class="ruby">@</code>'</li>
  <li>they are available within the class</li>
  <li>there are strange inheritance issues when dealing with class variables - see "<a href="/code/ruby/strangeness_with_class_variables">strangeness with class variables</a>" for more info</li>
</ul>