<ul>
  <li>Methods (and control structures) implicitly return the value of the last line if you do not explicitly specify a return value</li>
  <li>Code execution does not continue past a <code class="ruby">return</code>:
  <pre><code class="ruby">
    def some_method
      return "here's the return string"

      # the following code will <strong>never</strong> be run because we've already `return`ed
      puts "hello world"
      total = 5 * (3 + 35) / 12.0
      
      # again, this return will never be executed because of the earlier return
      return total
    end
  </code></pre>
</ul>